.cuerpo{
    background: url(../img/back.jpg);
    background-size: auto;
}
h1.titulo{
    
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    color: white;
    margin-top:auto;
    border-radius: 10px;
    padding: 15px;
    width: 62%; 
    margin: 0 auto;
}
p.resumen{
  text-align: center;
  background: rgba(5, 7, 12,0.75);
  color: white;
  padding: 40px;
  border-radius: 10px;
}

h2.subtitulo{
    text-align: center;
    background-color: black;
    color: white;
    width: 60%;
    padding: 20px; 
    margin: 0 auto;
    border-radius: 10px;
    text-transform: uppercase;
}

h2.subtitulo2{
    text-align: center;
    background-color: black;
    color: white;
    width: 63%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    text-transform: uppercase;
    
}

div.cargo{

display: flex;
justify-content: center;

}
ol.link{
    text-align:center;
    background-color: black;
    width: 40%; 
    margin: 0 auto;
    color: white;

    border-radius: 10px;
}

.container {
    width: 44%; 
    margin: 0 auto; 
    text-align: center;
  }

  div.botones{
    display: flex;
    justify-content: center;
  }




